.margin_body {
	border: 0px;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

body {
	background-image: url(Файлы/фон.jpeg);
	background-attachment: fixed;     /* Фиксированно */
	background-size: cover;           /* Маштабированно */
}

.black_block_main {
	position: absolute;
	bottom: -100px;
	background: black;
	height: 60px;
	width: 1229px;
	padding: 30px 17px 3px;
    background-repeat: repeat-x;
    display: block;
}

.black_block {
	background: black;
	height: 60px;
	width: 97,5%;
	padding: 30px 17px 3px;
    background-repeat: repeat-x;
    display: block;
}

.text_black_block {
	color: white;
	font-family: Gabriola;
	font-size: 20px;
}

.right {
	float: right;
}

.position_main_noize {
	position: absolute;
	margin-top: 80px;
	margin-left: 85px;
}

.position_main_fan {
	position: absolute;
	margin-top: 280px;
	margin-left: 400px;
}

.position_main_poster {
	position: absolute;
	margin-top: 562px;
	margin-left: 223px;
}

.position_main_media {
	position: absolute;
	margin-top: 563px;
	margin-left: 578px;
}

.position_main_shop {
	position: absolute;
	margin-top: 428px;
	margin-left: 800px;
}

.position_main_forum {
	position: absolute;
	margin-top: 422px;
	margin-left: 450px;
}

.position_main_news {
	position: absolute;
	margin-top: 429px;
	margin-left: 107px;
}

.position_main_group {
	position: absolute;
	margin-top: 305px;
	margin-left: 14px;
	height: 80px;
	width: 350px;
}

.position_main_login {
	position: absolute;
	margin-top: 30px;
	margin-left: 1050px;
}

.position_noize {
	position: fixed;
	margin-top: -15px;
	margin-left: 10px;
}

.position_login {
	position: fixed;
	margin-top: 2px;
	margin-left: 1070px;
}

.macmenu {
	position: fixed;
}

.button {
	margin-left: 380px;
	width: 800px;
}

.button a img,
.button a {
	display: block;
	float: left;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	height: 70px;
	width: 70px;
}

.button a {
	margin: 5px 20px;
}

.macmenu a:hover img {
	margin-left: -30%;
	height: 128px;
	width: 128px;
}

.button a:hover {
	font: normal bold 10px;
}